{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<main>
    <h1>формы</h1>
   <ul> <div>Тема лабораторной - FLASK В БД</div>

    
    <li><a href="/lab5/user">Имена</a></li>

    <li><a href="/lab5/zam">Просмотр заметок</a></li>

    <li><a href="/lab5/zam_cr">Создания заметок </a> </li>

    <li><a href="/lab5/login_5">Логин</a></li>

    <li><a href="/lab5/reg">Регитрация</a></li>

    <li><a >Вывод имени пользователя </a></li>
    
    </main>
{% endblock %}