<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
        <div class="button-container">
            <button style="background-color: rgb(238, 240, 117);" onclick="redirectToMainMenu()">в главное меню</button>
        </div>
        <script>
            function redirectToMainMenu() {
                window.location.href = '/regist/glavmen';
            }
        </script>
    </header>

    <img src="{{ url_for('static', filename='t.jpg') }}" width="500" height="500" alt="Изображение над текстом" class="pipka">

    <div class="user-data-container">
        <h1>
            я Маша. Мне 22 года. Ищу работу дизайнера, так как у меня есть опыт работы в этой области.
            Я умею работать с различными графическими
                 программами и создавать дизайн-проекты. 
                 Я готова к обучению и развитию в своей
                  профессии.
       </h1>
       <h2>
        Позвонить +837677333 
      Написать maha@example.com 
       </h2>
    </div>
    <footer margin-top: auto; background-color: lightgray;>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
    </footer>