<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
        <div class="button-container">
            <button style="background-color: rgb(238, 240, 117);" onclick="redirectToMainMenu()">в главное меню</button>
        </div>
        <script>
            function redirectToMainMenu() {
                window.location.href = '/regist/glavmen';
            }
        </script>
    </header>

    <img src="{{ url_for('static', filename='q.jpg') }}" width="500" height="500" alt="Изображение над текстом" class="pipka">

    <div class="user-data-container">
        <h1>
            Здравствуйте! Меня зовут Митяй, и я опытный электрик
            с многолетним стажем работы. Сейчас я 
                ищу новую интересную вакансию, где смогу
                 реализовать свой опыт и навыки.
                За время своей профессиональной деятельности 
                я успешно выполнял проекты различной сложности, 
                от замены электропроводки в жилых домах до монтажа 
                высоковольтных линий электропередачи. Мои навыки включают
                 в себя чтение чертежей, проведение электромонтажных работ
                  и диагностику неисправностей.
                Буду рад сотрудничать с компанией, которая ценит профессионализм
                 и ответственность в своих сотрудниках. Готов к командировкам 
                 и работе в условиях повышенной опасности.
       </h1>
       <h2>
        Позвонить +7 (900) 123-45-67 
        Написать mitay@example.com
       </h2>
    </div>
    <footer margin-top: auto; background-color: lightgray;>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
    </footer>