<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
        <div class="button-container">
            <button style="background-color: rgb(238, 240, 117);" onclick="redirectToMainMenu()">в главное меню</button>
        </div>
        <script>
            function redirectToMainMenu() {
                window.location.href = '/regist/glavmen';
            }
        </script>
    </header>

    <img src="{{ url_for('static', filename='c.jpg') }}" width="500" height="500" alt="Изображение над текстом" class="pipka">

    <div class="user-data-container">
        <h1>
            Славик. Мне 25 лет. Я ищу работу менеджера в стабильной компании
            где я смогу профессионально расти 
                и развиваться. Опыт работы в сфере
                 продаж или маркетинга - 3 года. 
                 Успешно руководил командой и проектами,
                  умею планировать, организовывать и контролировать
                   работу. Знаком с маркетингом и могу применять 
                   эти знания на практике. Владею MS Office и CRM,
                    ответственный, коммуникабельный, 
                    стрессоустойчивый. Готов работать 
                    как в офисе, так и удаленно.
       </h1>
       <h2>Позвонить +7 (123) 456-78-90
        Написать clavir@example.com 
       </h2>
    </div>
    <footer margin-top: auto; background-color: lightgray;>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
    </footer>