<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    
    <div>
    <h1>Новая заметка</h1>
    <1- Реализуйте вывод ошибок-->
    <form method="POST">
    <input name="title_article" type="text" placeholder="Названии статьи">
    <textarea name="text_article" placeholder="Текст статьи" rows="20"> </textarea>
    <input type="submit" value="Apply"/>
    </form>
    </div>
    
    
</body>
</html>