<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
       
</head>
<body>
  
    <header>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
        <div class="button-container">
            <button id="profileBtn" style="background-color: rgb(238, 240, 117);">в профиль</button>
            <input type="text" id="searchInput" placeholder="Поиск">
            <button id="searchBtn">Искать</button>
        </div>
    </header>

<script>
    document.getElementById('profileBtn').addEventListener('click', function() {
        window.location.href = '/regist/zaregist';
    });

    document.getElementById('searchBtn').addEventListener('click', function() {
        var searchQuery = document.getElementById('searchInput').value.toLowerCase();

        var ads = [
            { title: 'Тренер', link: '/regist/1' },
            { title: 'Читаю рЕп за вас', link: '/regist/2' },
            { title: 'Электрик', link: '/regist/3'},
            { title: 'Уборщик', link: '/regist/4' },
            { title: 'Буду для вас охранником', link: '/regist/5' },
            { title: 'Менеджер', link: '/regist/6' },
            { title: 'Повар', link: '/regist/7' },
            { title: 'Дворник', link: '/regist/8' },
            { title: 'Программист', link: '/regist/9' },
            { title: 'Шахтёр', link: '/regist/10' },
            { title: 'Кассир', link: '/regist/11' },
            { title: 'дизайнер', link: '/regist/12' },
            { title: 'Учитель', link: '/regist/13' },
            { title: 'Репетитор', link: '/regist/14' },
            { title: 'Продавец', link: '/regist/15' },
            { title: 'Разнорабочий', link: '/regist/16' }
        ];

        for (var i = 0; i < ads.length; i++) {
            if (ads[i].title.toLowerCase().includes(searchQuery)) {
                window.location.href = ads[i].link;
                break; // Прерывание цикла после первого совпадения
            }
        }
    });
</script>


<div class="advert1">
    <h2>Тренер</h2>
    <img src="{{ url_for('static', filename='m.jpg') }}" height="200" width="100">
    <p> Я ищу работу, где смогу применить свои знания и опыт,
       чтобы помогать людям становиться здоровее </p>
            <details>
            <summary>Читать далее</summary>
               <p>и улучшать свою физическую форму. 
                Я уверен, что мои навыки и энтузиазм помогут
                сделать ваш фитнес-клуб или спортивную 
                организацию еще лучше. Если у вас есть подходящая
                вакансия, буду рад обсудить детали и возможности 
                сотрудничества.</p>
            </details> 
    
    <a class="profile-btn" href="/regist/1">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (123) 446-78-90 </option>
      <option value="option3">Написать ilia@example.com </option>
    </select>
  </div>

  <div class="advert2">
    <h2>Читаю рЕп за вас</h2>
    <img src="{{ url_for('static', filename='a1.jpg') }}" height="200" width="100">
    <p>Всем привет! Меня зовут Андрей, и я в поисках работы</p>
            <details>
            <summary>Читать далее</summary>
               <p>, где смогу применить свои навыки чтения репов.
                 Если вы ищете талантливого и увлеченного исполнителя,
                  то я - идеальный кандидат для вас!
                У меня за плечами множество выступлений на различных 
                площадках, участие в музыкальных проектах и сотрудничество
                 с известными артистами. Я обладаю ярким и запоминающимся стилем,
                  а также умею находить общий язык с аудиторией.
                В своей работе я всегда стараюсь быть оригинальным и актуальным,
                 слежу за новыми тенденциями и готов к экспериментам. Кроме того,
                  я обладаю навыками работы с музыкальным оборудованием и
                   умею создавать качественный контент.
                Если вы ищете исполнителя для своего проекта или мероприятия, 
                свяжитесь со мной, и мы обсудим все детали нашего сотрудничества. 
                Буду рад стать частью вашей команды!</p>
            </details> 
    

            <a class="profile-btn" href="/regist/2">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7(123)-456-78-90 </option>
      <option value="option3">Написать andrey@example.com </option>
    </select>
  </div>

  <div class="advert3">
    <h2>Электрик</h2>
    <img src="{{ url_for('static', filename='q.jpg') }}" height="200" width="100">
    <p>Здравствуйте! Меня зовут Митяй, и я опытный электрик</p>
            <details>
            <summary>Читать далее</summary>
               <p>с многолетним стажем работы. Сейчас я 
                ищу новую интересную вакансию, где смогу
                 реализовать свой опыт и навыки.
                За время своей профессиональной деятельности 
                я успешно выполнял проекты различной сложности, 
                от замены электропроводки в жилых домах до монтажа 
                высоковольтных линий электропередачи. Мои навыки включают
                 в себя чтение чертежей, проведение электромонтажных работ
                  и диагностику неисправностей.
                Буду рад сотрудничать с компанией, которая ценит профессионализм
                 и ответственность в своих сотрудниках. Готов к командировкам 
                 и работе в условиях повышенной опасности.</p>
            </details> 
    

            <a class="profile-btn" href="/regist/3">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (900) 123-45-67 </option>
      <option value="option3">Написать mitay@example.com </option>
    </select>
  </div>
  <div class="advert4">
    <h2>Уборщик</h2>
    <img src="{{ url_for('static', filename='Kirill_Gerstein_backstage.jpg') }}" height="200" width="100">
    <p> Привет! Меня зовут Кирилл, и я ищу работу уборщика.
        Я готов взять на себя все обязанности</p>
            <details>
            <summary>Читать далее</summary>
               <p>связанные 
                с уборкой помещений, мойкой окон и санузлов,
                а также сбором мусора и поддержанием чистоты 
                в течение дня.У меня есть опыт работы в различных сферах,
                включая уборку офисных помещений, торговых центров и производственных
                объектов. Я обладаю высокой степенью ответственности и
                стремлюсь к выполнению задач на самом высоком уровне.
                Я ищу работу, которая будет соответствовать моим навыкам
                и опыту. Готов начать работу сразу же после получения 
                предложения. Буду рад обсудить детали сотрудничества
                с работодателем.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/4">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (123) 456-78-90 </option>
      <option value="option3">Написать kirill@example.com </option>
    </select>
  </div>

  <div class="advert5">
    <h2>Буду для вас охранником</h2>
    <img src="{{ url_for('static', filename='p.png') }}" height="200" width="100">
    <p> Готов к работе в любое время суток и на любых объектах.</p>
            <details>
            <summary>Читать далее</summary>
               <p>Рассматриваю варианты как полной,
                так и частичной занятости. Готов к командировкам.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/5">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (123) 694 32-90 </option>
      <option value="option3">Написать kuzic@example.com </option>
    </select>
  </div>

  <div class="advert6">
    <h2>Менеджер</h2>
    <img src="{{ url_for('static', filename='c.jpg') }}" height="200" width="100">
    <p> Славик. Мне 25 лет. Я ищу работу менеджера в стабильной компании</p>
            <details>
            <summary>Читать далее</summary>
               <p>где я смогу профессионально расти 
                и развиваться. Опыт работы в сфере
                 продаж или маркетинга - 3 года. 
                 Успешно руководил командой и проектами,
                  умею планировать, организовывать и контролировать
                   работу. Знаком с маркетингом и могу применять 
                   эти знания на практике. Владею MS Office и CRM,
                    ответственный, коммуникабельный, 
                    стрессоустойчивый. Готов работать 
                    как в офисе, так и удаленно.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/6">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (123) 456-78-90 </option>
      <option value="option3">Написать clavir@example.com </option>
    </select>
  </div>

  <div class="advert7">
    <h2>Повар</h2>
    <img src="{{ url_for('static', filename='6.jpg') }}" height="200" width="100">
    <p> Клим. Мне 30 лет. Ищу работу повара в хорошем ресторане или кафе.</p>
            <details>
            <summary>Читать далее</summary>
               <p>Опыт работы более 5 лет. 
                Могу вкусно и быстро приготовить 
                самые разные блюда. Ответственный,
                 аккуратный, соблюдаю все нормы и 
                 стандарты. Есть санитарная книжка. 
                 Рассмотрю предложения с обучением и 
                 возможностью карьерного роста.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/7">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 900 123-45-67 </option>
      <option value="option3">Написать klim@example.com </option>
    </select>
  </div>

  <div class="advert8">
    <h2>Дворник</h2>
    <img src="{{ url_for('static', filename='7.jpg') }}" height="200" width="100">
    <p> Привет! Меня зовут Камилла, и я ищу работу дворника.
        Я готов взять на себя все обязанности</p>
            <details>
            <summary>Читать далее</summary>
               <p>связанные 
                с уборкой помещений, мойкой окон и санузлов,
                а также сбором мусора и поддержанием чистоты 
                в течение дня.У меня есть опыт работы в различных сферах,
                включая уборку офисных помещений, торговых центров и производственных
                объектов. Я обладаю высокой степенью ответственности и
                стремлюсь к выполнению задач на самом высоком уровне.
                Я ищу работу, которая будет соответствовать моим навыкам
                и опыту. Готов начать работу сразу же после получения 
                предложения. Буду рад обсудить детали сотрудничества
                с работодателем.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/8">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7 (123) 456-78-90 </option>
      <option value="option3">Написать kirill@example.com </option>
    </select>
  </div>

  <div class="advert9">
    <h2>Программист</h2>
    <img src="{{ url_for('static', filename='62.jpg') }}" height="200" width="100">
    <p> Влад. Мне 28 лет. Я ищу работу программистом в крупной и успешной компании.</p>
            <details>
            <summary>Читать далее</summary>
               <p>Имею опыт разработки веб и мобильных приложений 
                на разных платформах. Знаю несколько языков
                программирования и технологий. 
                Также имею опыт работы с базами данных и умею 
                оптимизировать код для повышения производительности.
                Обладаю хорошими коммуникативными навыками 
                и умею работать в команде.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/9">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +79001234567 </option>
      <option value="option3">Написать vlad@example.com </option>
    </select>
  </div>

  <div class="advert10">
    <h2>Шахтёр</h2>
    <img src="{{ url_for('static', filename='1.jpg') }}" height="200" width="100">
    <p> Максим. Мне 40 лет. Я ищу работу шахтёра, потому что это моя профессия</p>
            <details>
            <summary>Читать далее</summary>
               <p>и я очень хорошо разбираюсь в этом деле.
                 У меня есть большой опыт работы в шахтах,  
                 а также я знаю все необходимые технологии 
                 и оборудование. Я также очень ответственный
                  и надёжный работник, который всегда выполняет
                   свою работу качественно и в срок</p>
            </details> 
    
            <a class="profile-btn" href="/regist/10">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить 89001234567 </option>
      <option value="option3">Написать max@example.com </option>
    </select>
  </div>
  
  <div class="advert11">
    <h2>Кассир</h2>
    <img src="{{ url_for('static', filename='r.jpg') }}" height="200" width="100">
    <p> я Юля. Мне 18 лет. Ищу работу кассира, так как это ответственная должность</p>
            <details>
            <summary>Читать далее</summary>
               <p> требующая внимательности и аккуратности. 
                Опыт работы не требуется, так как я готова 
                обучаться и начинать с нуля. Возраст не важен
                , главное - желание работать и 
                развиваться в этой сфере.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/11">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить 89101234567 </option>
      <option value="option3">Написать ula@example.com </option>
    </select>
  </div>

  <div class="advert12">
    <h2>дизайнер</h2>
    <img src="{{ url_for('static', filename='t.jpg') }}" height="200" width="100">
    <p> я Маша. Мне 22 года. Ищу работу дизайнера, так как у меня есть опыт работы в этой области.</p>
            <details>
            <summary>Читать далее</summary>
               <p>Я умею работать с различными графическими
                 программами и создавать дизайн-проекты. 
                 Я готова к обучению и развитию в своей
                  профессии. </p>
            </details> 
    
            <a class="profile-btn" href="/regist/12">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +837677333 </option>
      <option value="option3">Написать maha@example.com </option>
    </select>
  </div>
  <div class="advert13">
    <h2>Учитель</h2>
    <img src="{{ url_for('static', filename='v.jpg') }}" height="200" width="100">
    <p> Люба. Мне 27 лет. Ищу работу учителем</p>
            <details>
            <summary>Читать далее</summary>
               <p> так как имею высшее педагогическое образование
                 и опыт работы с детьми. Ответственная,
                  доброжелательная, люблю общаться с людьми.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/13">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить +7003384742 </option>
      <option value="option3">Написать luba@example.com </option>
    </select>
  </div>
  
  <div class="advert14">
    <h2>Репетитор</h2>
    <img src="{{ url_for('static', filename='D.jpg') }}" height="200" width="100">
    <p>Виктория. Мне 24 года. Я ищу работу репетитором</p>
            <details>
            <summary>Читать далее</summary>
               <p>так как люблю общаться с людьми и 
                помогать им достигать своих целей
                . У меня высшее образование в области
                 педагогики и я имею опыт работы с
                  детьми разных возрастов.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/14">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить 8499232344 </option>
      <option value="option3">Написать viktoria@example.com </option>
    </select>
  </div>
  <div class="advert15">
    <h2>Продавец</h2>
    <img src="{{ url_for('static', filename='ma.jpg') }}" height="200" width="100">
    <p> Марк. Мне 26 лет. Ищу работу продавца, 
      потому что я общительный, 
      люблю помогать людям и работать с товарами.</p>
            <details>
            <summary>Читать далее</summary>
               <p>Имею опыт работы продавцом-консультантом в магазине электроники.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/15">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить 8934523423 </option>
      <option value="option3">Написать mark@example.com </option>
    </select>
  </div>

  <div class="advert16">
    <h2>Разнорабочий</h2>
    <img src="{{ url_for('static', filename='У.jpg') }}" height="200" width="100">
    <p> Матвей. Мне 29 лет. Ищу работу разнорабочего,
       потому что люблю физический труд</p>
            <details>
            <summary>Читать далее</summary>
               <p>и готов выполнять различные задачи. 
                Имею опыт выполнения строительных работ,
                 а также работы с электроинструментами.</p>
            </details> 
    
            <a class="profile-btn" href="/regist/16">Перейти в профиль</a>
    <select>
      <option value="option2">Позвонить 895595943 </option>
      <option value="option3">Написать matvei@example.com </option>
    </select>
  </div>
 

<footer>
    <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
</footer>
</body>