<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <header>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
        <div class="button-container">
            <button id="mainMenuBtn" style="background-color: rgb(238, 240, 117);">в главное меню</button>
            <button id="logoutBtn" style="background-color: rgb(238, 240, 117);">выйти</button>
        </div>
    </header>

    <div class="user-data-container">
        <h2>Ваш профиль</h2>
        {% if user_data %}
            <p>Имя: {{ user_data[2] }}</p>
            <p>Выбранная услуга: {{ user_data[3] }}</p>
            <p>Стаж: {{ user_data[4] }}</p>
            <p>Цена услуги: {{ user_data[5] }}</p>
            <p>Контактный номер: {{ user_data[6] }}</p>
            <p>@maill: {{ user_data[7] }}</p>
            <p>О себе: {{ user_data[8] }}</p>
        {% else %}
            <p>Профиль не найден</p>
        {% endif %}
    </div>

    <footer>
        <img src="{{ url_for('static', filename='l1.png') }}" width="500" height="60">
    </footer>

    <script>
        document.getElementById('mainMenuBtn').addEventListener('click', function() {
            window.location.href = '/regist/glavmen';
        });

        document.getElementById('logoutBtn').addEventListener('click', function() {
            window.location.href = '/menu';
        });
    </script>

</body>
</html>